a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}button,input[type=reset],input[type=submit]{background:0 0;color:inherit;border:none;padding:0;font:inherit;cursor:pointer;outline:inherit;all:unset}

:root {
    --main-background-color: #BEBEBE;
    --main-margin-width: 40px;
    --broad-container-width: 800px;
    --narrow-container-width: 600px;
    --header-height: 170px;
    --header-background-color: #ABABAB;
    --text-color: #1D1D1D;
    --text-color-inverted: #E2E2E2;
    
    --black: #1D1D1D;
    --blue: #0099D8;
    --purple: #924292;
    --red: #DE4038;
    --orange: #F38001;
    --yellow: #F7B006;
    --green: #5CB03D;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-background-color: #575758;
        --header-background-color: #49494A;
        --text-color: #E2E2E2;
        --text-color-inverted: #222222;
    }
}

@media (max-width: 500px) {
    :root {
        --main-margin-width: 20px;
    }
}

@font-face {
    font-family: "mono";
    src: url("fonts/mono.woff2") format("woff2");
    src: url("fonts/mono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'title';
    src: url('fonts/title.woff2') format('woff2'),
    url('fonts/subset-title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100% !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, *:before, *:after { box-sizing: inherit;     }

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--main-background-color);
    margin: 0;
    font-variant-ligatures: none;
}

body, html { min-height: 100vh }
a { text-decoration: none; }
p { margin-bottom: 20px }


/* **************************************************** */
/* HEADER */
/* **************************************************** */
header h1 a { color: #070707; }
header ul a { color: #070707; opacity: 0.5; display: block }
header ul a:hover { opacity: 1 }
header ul li:last-child { margin-bottom: 16px }
header ul a#active-section { opacity: 1; position: relative }
header ul a#active-section:before {
    content: "→";
    color: var(--red);
    position: absolute;
    left: -25px;
    top: 0px;
}

header {
    height: var(--header-height);
    background: var(--header-background-color);
    padding: 0 var(--main-margin-width);
    font-family: 'title';
    font-size: 20px;
    line-height: 22px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: flex-end;
}

@supports (-webkit-backdrop-filter: blur(150px)) {
    header { -webkit-backdrop-filter: blur(150px); background: rgba(0,0,0,0.1); }
}
@supports (backdrop-filter: blur(150px)) {
    header { backdrop-filter: blur(150px); background: rgba(0,0,0,0.1); }
}

#header-container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--narrow-container-width);
    display: flex;
    justify-content: space-between;
}

@media (max-width: 500px) {
    #header-container { display: block; }
    #header-container ul { margin-top: 25px;}
    header ul a#active-section:before { left: -19px; }
}


/* **************************************************** */
/* CONTENT */
/* **************************************************** */
#main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 var(--main-margin-width);
    overflow-x: hidden;
    margin: 0 auto;
}

.content-container {
    font-family: "mono";
    font-size: 12.5px;
    line-height: 1.7;
    letter-spacing: -0.5px;
    flex: 1;
    color: var(--text-color);
    position: relative;
}

/* **************************************************** */
/* TEXT LINK APPEARANCE */
/* **************************************************** */
.content-text-container a {
    color: #E2E2E2;
    padding: 2px 4px 0px 4px;
    line-height: 0;
    position: relative;
    text-decoration: none;
    transition: all 0.2s;
    white-space: pre;
}

.content-text-container a:before {
    background-color: var(--yellow);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transform: scaleY(0);
    transition: all 0.2s;
    transform-origin: 50% 100%;
    width: 101%;
    z-index: -2;
    border-radius: 4px;
}

.content-text-container a:after {
    background: #070707;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -3;
    border-radius: 4px;
}

.content-text-container a:hover:before {
    transform: scaleY(1);
    visibility: visible;
}

.content-text-container a:hover { color: #070707 }


/* **************************************************** */
/* GRID SEPARATORS */
/* **************************************************** */
.grid-separator {
    background: var(--text-color);
    opacity: 0.06;
    z-index: -1 !important;
}

.horizontal-grid-separator {
    height: 1px;
    width: 200vw;
    position: absolute;
    transform: translateX(-50%);
}

.vertical-grid-separator {
    grid-row: 1 / -1;
    width: 1px;
}

@media (max-width: 500px) {
    .hide-separator { display: none; }
}


/* **************************************************** */
/* SEPARATOR */
/* **************************************************** */
.separator {
    display: block;
    height: 5px;
    width: 100%;
    background: #070707;
    grid-row: 7 / span 1;
    grid-column: 3 / -1;
    z-index: 100;
    border-radius: 2.5px;
}


/* **************************************************** */
/* FOOTER */
/* **************************************************** */
footer {
    height: 12.5vh;
    overflow: hidden;
    margin: 0 calc(var(--main-margin-width) * -1);
}

.footer-line {
    height: 2px;
    background: rgba(0,0,0,0.25);
    margin-bottom: 2px;
}



/* **************************************************** */
/* CODE EDITOR */
/* **************************************************** */
.hljs-ln {
    position: relative;
    height: 100%;
    display: inline-block;
}

.hljs { padding: 0 !important; }
.hljs-ln td {
    padding: 0 7px 0 10px !important;
    height: 1px !important;
}

.hljs-ln-numbers {
    padding: 0 20px 0 0;
    display: block;
    opacity: 0.2;
}









/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* WRITINGS & PROJECTS */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
#writings-and-projects-container {
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: var(--narrow-container-width);
    grid-template-rows: var(--header-height) var(--main-margin-width) auto minmax(var(--main-margin-width), 100%);
    grid-template-columns: 21px 22px 1fr 24px 40px;
}

.project-container { grid-template-columns: 128px 22px 1fr 24px 40px !important; }
.project-container p { 
    line-height: 1.2;
    margin-bottom: 10px !important;
}

#writings-and-projects-container #items .separator {
    height: 5px;
    width: 100%;
    display: block;
    background: #070707;
    border-radius: 2.5px;
}

#writings-and-projects-container #items {
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
}

.project-container #items {
    margin-top: -30px;
}

#writings-and-projects-container .post-item {
    padding: 10px 0;
    border-bottom: 2px solid #070707;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.6;
    position: relative;
}

#writings-and-projects-container .project-item {
    padding: 12px 0 11px;
    align-items: center;
}


@media (max-width: 700px) {
    #writings-and-projects-container .project-item {
        align-items: start;
    }
}

.project-container h3 {
    font-family: 'title';
    font-size: 27px;
    margin-top: 30px;
}

@media (max-width: 500px) {
    .project-container h3 {
        font-size: 20px;
    }
}

#writings-and-projects-container .post-item h3 {
    font-family: 'title';
    font-size: 20px;
    line-height: 1.1 !important;
    letter-spacing: 0;
    margin-top: 0;
}

#writings-and-projects-container .post-item h3 a:hover {
    background: var(--text-color-inverted);
}

@media (max-width: 700px) {
    .project-container { grid-template-columns: 64px 22px 1fr 24px 40px !important; }
    .project-container .post-item img { width: 64px !important; }
    
    #writings-and-projects-container .post-item h3 {
        font-size: 18px;
        line-height: 22px;
    }
    
    
    .project-container .post-item img { border-radius: 8px !important; }
}

@media (max-width: 500px) {
    #writings-and-projects-container .post-item .arrow {
        display: none !important;
    }
}

#writings-and-projects-container .post-item p { margin: 5px 0 0 0; }
#writings-and-projects-container .post-item .text-container { flex: 1; }

.project-container .post-item .text-container { margin-left: 22px }

.project-container .post-item img {
    width: 128px;
    display: block;
    border-radius: 16px;
}

#writings-and-projects-container .post-item .post-number {
    color: var(--red);
    font-size: 20px;
    margin-right: 20px;
}

#writings-and-projects-container .post-item a { color: var(--text-color); }

#writings-and-projects-container .post-item .arrow {
    font-family: 'title';
    font-size: 20px;
    background: var(--header-background-color);
    width: 40px;
    margin-left: 26px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    align-self: stretch;
}

#writings-and-projects-container .post-item .arrow:hover {
    text-indent: 7px;
    background: #070707;
    color: var(--main-background-color);
}

#writings-and-projects-container .writings-and-projects-separator {
    background: var(--text-color);
    opacity: 0.05;
    height: 1px;
    width: 200vw;
    position: absolute;
    bottom: -2px;
    transform: translateX(calc(100vw * -1));
}










/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* POST */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
#post-container {
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: var(--narrow-container-width);
    grid-template-rows: var(--header-height) var(--main-margin-width) auto minmax(var(--main-margin-width), 100%);
    grid-template-columns: repeat(4, 25%);
    font-size: 15px;
    letter-spacing: 0.05px;
}

#post-container #text-container {
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
}

#post-container #text-container #title-container { margin: 0 0 40px; position: relative }
#post-container #text-container #title-container * { margin: 0px; }
#post-container #text-container #title-container h2 { margin: 15px 0; }
#post-container #text-container #title-container:after { 
    font-family: 'title';
    font-size: 20px;
    content: "→";
    color: var(--red);
    position: absolute;
    bottom: -65px;
}

#post-container #text-container pre {
    font-size: 12px;
    margin: 40px 0;
}

#post-container #text-container pre code {
    background: rgba(0,0,0,0.6);
    border-radius: 12px;
}

#post-container #text-container h2 {
    font-family: 'title';
    font-size: 20px;
    line-height: 1.1 !important;
    margin: 10px 0;
}

#post-container #text-container img,
#post-container #text-container h3 { 
    width: 100%; 
    display: block;
    margin: 40px 0;
    border-radius: 12px;
}

#post-container #text-container h3 { 
    font-family: 'title';
    font-size: 20px;
    margin: 40px 0 10px 25%; 
    position: relative;
}

#post-container #text-container h3:before { 
    content: " ";
    background: var(--red);
    position: absolute;
    height: 1px;
    width: 100%;
    left: -25%;
    bottom: -4px;    
    opacity: 0.5;
}

#post-container #text-container p { 
    font-family: 'Source Serif Pro', serif;
    margin: 0 0 20px 25%;
    width: 75%;
}

#post-container #text-container p:last-child { margin-bottom: 0; }


@media (max-width: 700px) {
    #post-container #text-container #title-container:after { 
        transform: rotate(90deg);
        bottom: -40px;
    }
    
    #post-container #text-container p,
    #post-container #text-container h3 { 
        margin-left: 0; 
        width: 100%;
    }
    
    #post-container #text-container h3:before { 
        left: 0;
    }
}

@media (max-width: 500px) {
    #post-container {
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 0.05px;
    }
}







/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* GEN ART GRID */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
#gen-art-container {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    padding: calc(var(--header-height) + var(--main-margin-width))  0 var(--main-margin-width) 0;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    align-content: start;
    justify-items: start;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

#gen-art-container a:hover img { transform: scale(0.99) !important; }

#gen-art-container img {
    border-radius: 16px;
    width: 100%;
    transform: scale(0.95);
    transition: all 0.1s ease-in;
    display: block;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    display: none;
}

#gen-art-container li.big-image {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

#gen-art-container li.big-image img {
    transform: scale(0.97);
}

#gen-art-container .vertical-grid-separator {
    height: 100%;
    position: absolute;
    grid-row: auto;
}

@media (max-width: 700px) {
    #gen-art-container {
        grid-template-columns: repeat(auto-fill, 33.33333%) !important;
        grid-template-rows: repeat(auto-fill, calc(100vw - (calc(var(--main-margin-width) * 2))) / 3) !important;
    }
    
    #gen-art-container li.module {
        grid-column-end: span 1 !important;
        grid-row-end: span 1 !important;
    }
    
    #gen-art-container img {
        transform: scale(0.95) !important;
    }
}

@media (max-width: 500px) {
    #gen-art-container {
        grid-template-columns: repeat(auto-fill, 50%) !important;
        grid-template-rows: repeat(auto-fill, calc(100vw - (calc(var(--main-margin-width) * 2))) / 2) !important;
    }
}












/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* GEN ART DETAIL */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
@media (max-width: 700px) {
    #gen-art-detail-container {
        grid-template-rows: var(--header-height) var(--main-margin-width) auto var(--main-margin-width) 60px minmax(calc(var(--main-margin-width)), 100%) !important;
    }
    
    #gen-art-detail-container #detail #sketch {
        padding-top: 100% !important;
        width: 100% !important;
    }
    #gen-art-detail-container #detail #sketch canvas {
        border-radius: 16px !important;
    }
    
    #gen-art-detail-container #detail #code-container {
        display: none !important;
    }
}

@media (max-width: 500px) {
    #gen-art-detail-container #navigation li h4 {
        font-size: 16px !important; 
    }
}

#gen-art-detail-container {
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: var(--broad-container-width);
    grid-template-rows: var(--header-height) minmax(calc(var(--main-margin-width)), 100%) auto minmax(calc(var(--main-margin-width)), 100%) calc(var(--main-margin-width) * 2) var(--main-margin-width);
    grid-template-columns: 40px 20px calc(50% - 60px - (var(--main-margin-width) / 2)) var(--main-margin-width) calc(50% - 60px - (var(--main-margin-width) / 2)) 20px 40px;
}

#gen-art-detail-container #detail {
    grid-row: 3 / span 1;
    grid-column: 1 / -1;
    display: flex;
    border-radius: 16px;
}

#gen-art-detail-container #detail #sketch {
    width: 60%;    
    padding-top: 60%;
    position: relative;
}

#gen-art-detail-container #detail #sketch canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    border-radius: 16px 0 0 16px;
}

#gen-art-detail-container #detail #code-container {
    width: 40%;
    background: rgba(0,0,0,0.6);
    border-radius: 0 16px 16px 0;
    opacity: 0.4;
    transition: opacity 0.3s;
}

#gen-art-detail-container #detail #code-container:hover {
    opacity: 1;    
}

#gen-art-detail-container #detail #code-container pre {
    padding: 0;
    height: 100%;
    width: 100%;
    border-radius: 0 16px 16px 0;
    position: relative;
}

#gen-art-detail-container #detail #code-container pre code {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 12px;
    background: transparent;
}


#gen-art-detail-container #navigation {
    grid-row: 5 / span 1;
    grid-column: 1 / -1;
    display: flex;
    overflow: hidden;
}

#gen-art-detail-container #navigation li { 
    width: 100%;
    display: flex;
}
#gen-art-detail-container #navigation li:first-child { margin-right: var(--main-margin-width); }

#gen-art-detail-container #navigation li a {
    color: var(--black);
    display: flex;
    flex-direction: column;
    width: 100%;
}

#gen-art-detail-container #navigation li h4 {
    font-family: 'title';
    font-size: 20px;
    flex: 1;
    width: 100%;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

#gen-art-detail-container #navigation li #next-nav {
    text-align: right !important;
    justify-items: end;
    justify-content: flex-end;
}

#gen-art-detail-container #navigation li h4 span {
    background: var(--header-background-color);
    width: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin: 3% 20px 3% 0;
    transition: all 0.3s;
}

#gen-art-detail-container #navigation li #next-nav span {
    margin-left: 20px;
    margin-right: 0;
}
#gen-art-detail-container #navigation li a:hover h4 span {
    text-indent: -7px;
    color: var(--main-background-color);
    background: #070707;
}

#gen-art-detail-container #navigation li a:hover #next-nav span {text-indent: 7px !important; }










/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* ABOUT */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
#about-container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    max-width: var(--narrow-container-width);
    grid-template-columns: minmax(120px, 20%) 20% auto;
    grid-template-rows: var(--header-height) minmax(var(--main-margin-width), 100%) 40px 40px 40px auto 42px 40px 40px minmax(var(--main-margin-width), 100%);
}

@media (max-width: 600px) {
    #about-container { 
        grid-template-rows: var(--header-height) minmax(var(--main-margin-width), 100%) 40px 20px 40px auto 42px 40px 40px minmax(var(--main-margin-width), 100%);
        grid-template-columns: minmax(100px, 20%) var(--main-margin-width) auto; 
    }
}

@media (max-width: 500px) {
    #about-container { 
        grid-template-rows: var(--header-height) minmax(var(--main-margin-width), 100%) 40px 40px 40px auto 42px 40px 40px minmax(calc(var(--main-margin-width) * 2), 100%);
        grid-template-columns: 100%;
    }
    
    #about-container #switcher-inner-container { grid-column: 1 / -1 !important; }
    #about-container #avatar-container { width: 120px; }
    #about-container #hello-text, #about-container #hola-text { display: none; }
    #about-container #about-text-english, #about-container #about-text-spanish { grid-column: 1 / -1 !important; padding: 30px 0 10px !important; }
    #about-container #social-links { grid-column: 1 / -1 !important; }
    #about-container #social-links-separator { grid-column: 1 / -1 !important; }
    #about-container #last-update { grid-column: 1 / -1 !important; }
    #about-container #title-container { padding-left: 145px }
}


/* LANGUAGE SWITCHER */
/* **************************************************** */
#about-container #switcher-inner-container {
    grid-row: 3 / span 1;
    grid-column: span 1 / -1;
    display: flex;
    justify-content: flex-end;
}

#about-container #switcher-inner-container ul {
    font-family: 'title';
    font-size: 11px;
    letter-spacing: 0.5px;
    display: inline-flex;
    height: 100%;
    background: var(--header-background-color);
    border-radius: 8px;
    overflow: hidden;
}

#about-container #switcher-inner-container ul li button {
    border-radius: 8px;
    width: 40px !important;
    text-align: center;
    height: 100%;
    line-height: 0px;
    text-indent: 2px;
    color: #070707;
    -webkit-text-fill-color: #070707;
    cursor: pointer;
}

#about-container #switcher-inner-container ul li.active-language button {
    background: #070707;    
    color: var(--main-background-color);
    -webkit-text-fill-color: var(--main-background-color);
}

/* HOLA */
/* **************************************************** */
#about-container #hello-text, #about-container #hola-text {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
    width: 100%;
}
#about-container #hola-text { visibility: hidden }

/* AVATAR */
/* **************************************************** */
#about-container #avatar-container {
    grid-row: 3 / span 3;
    grid-column: 1 / span 1;
    background: var(--yellow) ;
    border-radius: 16px;
    z-index: 500;
    overflow: hidden;
}

#about-container #avatar-container img {
    display: block;
    width: 100%;
}

/* TITLE */
/* **************************************************** */
#about-container #title-container {
    grid-row: 5 / span 1;
    grid-column: span 1 / -1;
    height: 40px;
}

#about-container h2 {
    font-family: 'title';
    font-size: 27px;
    line-height: 39px;
    margin-bottom: -4px;
    letter-spacing: 0;
}

/* CONTENT */
/* **************************************************** */
#about-container #about-text-english, #about-container #about-text-spanish {
    grid-row: 6 / span 1;
    grid-column: span 1 / -1;
    padding: var(--main-margin-width) 0 30px;
}

#about-container a {
    padding: 0px 4px 4px 4px;
}


/* SOCIAL LINKS */
/* **************************************************** */
#about-container #social-links {
    position: relative;
    grid-row: 7 / span 1;
    grid-column: 3 / auto;
    display: flex;
    overflow: hidden;
    width: 240px;
    border-radius: 0px 0px 8px 8px;
}
#about-container #social-links-separator {
    border-radius: 0 2.5px 2.5px 0;
}

#about-container #social-links li {
    width: 44px;
    text-indent: -200vw;
    
}

#about-container #social-links li:nth-child(1) { background-color: var(--blue) }
#about-container #social-links li:nth-child(2) { background-color: var(--purple) }
#about-container #social-links li:nth-child(3) { background-color: var(--red) }
#about-container #social-links li:nth-child(4) { background-color: var(--orange) }
#about-container #social-links li:nth-child(5) { background-color: var(--yellow) }
#about-container #social-links li:nth-child(6) { background-color: var(--green) }

#about-container #social-links li a {
    background: transparent url("about/icons.svg") 11px 14px no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}

#about-container #social-links li a:hover {
    mix-blend-mode: initial;
    opacity: 1 !important;
}

#about-container #social-links li:nth-child(1) a { opacity: 0.7 }
#about-container #social-links li:nth-child(2) a { background-position: -30px 14px; opacity: 0.5 }
#about-container #social-links li:nth-child(3) a { background-position: -69px 14px; }
#about-container #social-links li:nth-child(4) a { background-position: -108px 14px; }
#about-container #social-links li:nth-child(5) a { background-position: -147px 14px; }
#about-container #social-links li:nth-child(6) a { background-position: -187px 14px; }



/* LAST UPDATE */
/* **************************************************** */
#about-container #last-update p { margin: 0; }
#about-container #last-update {
    grid-row: -3 / span 1;
    grid-column: span 1 / -1;
    background: var(--header-background-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 20px 2px;
    color: var(--main-text-color);
    font-size: 12px;
    line-height: 20px;
    position: relative;
}

#about-container #last-update p:after {
    content: "-";
    position: absolute;
    left: 180px;
    top: 9px;
    background: var(--text-color);
    width: 12px;
    height: 20px;
    display: block;
    border-radius: 4px;
    animation: blink 0.9s cubic-bezier(0.950, 0.050, 0.795, 0.035) infinite both;
}

@keyframes blink {
    0% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}
